{% extends 'base.html' %}
{% block title %}Flask Demo{% endblock %}
{% block nav %}
<li class="nav-item active">
  <a class="nav-link" href="/">Front page</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/sample/">Sample page</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/about/">About</a>
</li>
{% endblock %}

{% block content %}

<div class="jumbotron">
  <h3 id="header" class="display-5">Flask Demo.</h3>
  <p id="lead" class="lead">This is a simple demo written using <a href="https://flask.palletsprojects.com/en/2.0.x/">Flask</a> and <a href="https://getbootstrap.com/">Bootstrap</a>.</p>
  <p>You can find the <a href="https://github.com/heikkileivo/flask-demo">source code</a> of this page in GitHub.</p>
</div>

{% endblock %}
