{% extends 'base.html' %}
{% block title %}Sample page{% endblock %}
{% block nav %}
<li class="nav-item">
  <a class="nav-link" href="/">Front page</a>
</li>
<li class="nav-item">
  <a class="nav-link active" href="/sample/">Sample page</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/about/">About</a>
</li>
{% endblock %}

{% block content %}

<div class="jumbotron">
  <h3 class="display-5">Sample page</h3>
  <hr class="my-4">

  <p>Sample content, blabla.</p>
</div>

{% endblock %}
